<div class="container">
  <div class="banner">
    <div class="container">
      <h1>Explorez, Découvrez, Partagez: Votre Source Infinie d'Inspiration !</h1>
      <p>Découvrez un monde d'articles captivants et informatifs sur une variété de sujets passionnants.</p>
      <%= link_to "Voir tous les articles", posts_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
