<div class="container">
  <p class="mt-4"><%= link_to "<< Retour à la page d'accueil", root_path, class: "retour" %></p>
  <h1 style="font-size: 40px" id="titre">Liste des publications</h1>
  <div id="posts">
    <% @posts.each do |post| %>
      <%= link_to post_path(post) do %>
        <div class="card-posts">
          <div class="card-title mt-2">
            <h4><%= post.title %></h1>
            <p><%= truncate(post.content, length: 250) %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
