<div class="container">
<h1>Listes des articles</h1>
  <% @posts.each do |post| %>
    <%= link_to post_path(post) do %>
      <h6><%= post.user.nickname %></h3>
      <h4><%= post.title %></h1>
    <% end %>
  <% end %>
  <%= link_to "<< Retour à la page d'accueil", root_path, class:"mb-2" %>
</div>
